name: Main

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      poetry-cache-hit: ${{ steps.cache-poetry.outputs.cache-hit }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: poetry
      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install pylint poetry

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs:
      - prepare
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: poetry
      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install pylint poetry
      - name: Install dependencies
        run: poetry install
      - name: Lint
        run: poetry poe lint

  format:
    name: Format
    runs-on: ubuntu-latest
    needs:
      - prepare
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: poetry
      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install pylint poetry
      - name: Install dependencies
        run: poetry install
      - name: Check formatting
        run: poetry poe format --check

