name: Main

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: poetry
      - name: Install dependencies
        run: poetry install

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs:
      - prepare
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: poetry
      - name: Install dependencies
        run: poetry install
      - name: Lint
        run: poetry poe lint

  format:
    name: Format
    runs-on: ubuntu-latest
    needs:
      - prepare
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: poetry
      - name: Install dependencies
        run: poetry install
      - name: Check formatting
        run: poetry poe format --check

  check-hacs:
    name: Check HACS compatibility
    runs-on: ubuntu-latest
    needs:
      - prepare
    steps:
      - name: Check HACS compatibility
        uses: hacs/action@22.5.0
        with:
          category: integration
